
<style>
p{
font-family: 'Kaisei HarunoUmi';
}

</style>





 <nav class="navbar  navbar-fixed-top" style="border-bottom:solid;">
   
  <div class="container">
                         
       <div class="navbar-header" >
             <%= link_to image_tag("d10.png",class:"logo-d", alt: "Rails logo", width: "150"), root_path %>
            <div class = "btn-group" >
            <p class="top-logo"><b><%= link_to "DIRECT FAMILY SERVICES", root_path%><br><b style ="color:black;">747-235-0345</b></p>
           
    </div>
       <button  type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>
   
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right" >
        <li ><%= link_to "ABOUT", about_path %></li>
        <li><%= link_to "SERVICES", services_path %></li>
       
        
        <li><%= link_to "CONTACT", new_lead_path %></li>
              
      
                    
              
              
              
              
              
              
              </li>
           </ul>
        </li>
     
      </ul>
    </div>
  </div>
</nav>



